/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
 
 .page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  justify-content: center;
  background-color: #ffffff;

  padding: 5vh 5vw;
} 

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* background-color: red; */
  height: 90vh;
  width: 95vw;
  /* background-color: #fafafa; */
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  align-items: flex-start;
  gap: 10px;
}
/* ------------------------------------------------------------------------
                                LEFT SIDE 
   ------------------------------------------------------------------------*/

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: bold;
  font-size: 80px;
  padding: 0;
  margin: 0;
}

.bodyText {
  font-size: 30px;
  padding: 0;
  margin: 0;
  /* padding-top: 10px; */
}

.inputName {
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  margin: 0;
  /* background-color: blue; */
}

.hexPickerWrapper {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  width: 120px;
  /* background-color: red; */
  border-bottom: 2px outset #fafafa;
}

.inputUsername {
  width: 200px;
  color: "#C9C9C9";
  border: none;
  border-bottom: 2px outset #fafafa;
  font-size: 24px;
  background-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
}

/* .hiddentInput {
  width: 300px;
} */


/* .hiddenInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
} */

/* ------------------------------------------------------------------------
                                RIGHT SIDE 
   ------------------------------------------------------------------------*/
.colorSwatch {
  color: black;
  background-color: #fafafa;
  width: 500px;
  height: 500px;
}

.colorItself {
  width: 500px;
  height: 380px;
  background-color: #fafafa;
}

.swatchText {
  padding: 15px 25px 25px 25px;
}

.swatchTextName {
  font-weight: bold;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.swatchTextWrapper {
  display: flex;
  font-size: 25px;
  color: #C9C9C9;
  justify-content: space-between;
}

.swatchTextHexcode {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.swatchTextColor {
  padding: 0;
  margin: 0;
}

.caption {
  color: #C9C9C9;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 25px;
  /* background-color: blue; */
  padding: 15px;
  text-align: center;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */

.squareButton {
  width: 50px;
  height: 50px;
  background-color: red;
}